 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>As a student, I have done internships at places like <a target="_blank" href="//www.luters.nl">Luters Web development</a>
                      and <a target="_blank" href="//www.redkiwi.nl">Redkiwi Rotterdam</a>.
                      Currently, I do freelance work for Redkiwi and people who I come in contact with.</p>
                </div>
                <div class="col-lg-4">
                    <p>In 2016 I've got a post-secondary college degree as Applications-Web developer at Zoomvliet Roosendaal.
                      In 2016 I started studying for a Bachelor of Science (BS) degree at Avans Hogeschool Breda,
                      where I will be following an accelerated program because of my previous degree.</p></br>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 ">
                  <h4 class="text-center">My hobby's are:</h4>
                  <p>
                      <i class="fa fa-keyboard-o"></i>Creating websites and applications.</br>
                      <i class="fa fa-futbol-o"></i>Watching football games.</br>
                      <i class="fa fa-headphones"></i>Listening to all kinds of music.</br>
                      <i class="fa fa-heart red"></i>Being with my love.</br>
                      <i class="fa fa-beer"></i>Chilling with friends.</br>
                      <i class="fa fa-gamepad"></i>Playing games.
                  </p>
                </div>
            </div>
        </div>
    </section>
